.my-tooltip {
    cursor: help;
}

.my-tooltip button {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 1px solid gray;
    line-height: 0.5rem;
    margin-bottom: 0.2rem;
    margin-left: .2rem;
}

.input-tooltip {
    position: relative;
}

.input-tooltip::after {
    content: '?';
    position: absolute;
    box-sizing: content-box;
    padding: 0.3rem;
    border-radius: 50%;
    border: 1px solid gray;
    line-height: 0.5rem;
    right: 2rem;
    top: 0;
    transform: translate(0, 50%);
    color: rgba(128, 128, 128, 1);
    width: 8px;
    height: 8px;
}